<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <i class="bi bi-globe-americas fs-2"></i>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-white">Categorias</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Ofertas</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Historico</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Supermercado</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Moda</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" action="/" method="GET">
                {% csrf_token %}
                <input type="search" name="q" required class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
            </form>

            {% if user.is_authenticated %}
                <div class="text-end">
                    <a href="/" class="btn btn-outline-light me-2">Sair</a>
                </div>
            {% else %}
                <div class="text-end">
                    <a href="{% url "sales:login" %}" class="btn btn-outline-light me-2">Login</a>
                    <a href="{% url "sales:create" %}" class="btn btn-warning">Cadastrar-se</a>
                </div>
            {% endif %}
        </div>
    </div>
</header>