:root {
    --code-color: #282a37;
    --hover-color-link: rgb(40, 75, 175);
}

body {
    background-color: var(--code-color) !important;
}

li a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

a:hover h6 {
    color: var(--hover-color-link) !important;
}
