:root {
    --code-color: #282a37;
    --code-color-light: #454754;
    --hover-color-link: rgb(40, 75, 175);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--code-color-light);
    border-radius: 10px;
}

body {
    background-color: var(--code-color) !important;
}

li a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

a:hover h6 {
    color: var(--hover-color-link) !important;
}

.bg-light-d {
    background-color: var(--code-color-light);
    box-shadow: -5px 2px 5px rgb(17, 17, 17);
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-img img {
    margin: 10px;
}

@media (max-width: 575.99px) {
    .nav-list {
        display: flex;
    }
}
